<h2>List of Questions for Test "<%= @test.title %>":</h2>
<table>
  <tr>
    <th>Question</th>
    <th colspan="3">Action</th>
  </tr>

  <%= render 'questions'%>
</table>

<p>
  <%= link_to 'New question', new_test_question_path %>
</p>

<p>
  <%= link_to 'Back', tests_path %>
</p>