<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Question #<%= @question_id %>:</h2>
    <p><%= @question.body %></p>
    <form action="/question/:id" method="post">
        <input name="_method" type="hidden" value="delete">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="submit" value="Destroy">
    </form>
</body>
</html>