<tr>
  <td><%= badge.name %></td>
<!--  <td><%#= badge.image %></td>-->
  <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK781GVB-NgBKi2t5tN4A4phT12dQp2FfzjTQjcwWFpBs6rEpvIw" height="20px"></td>
</tr>
