<tr>
  <td><%= link_to gist.question.body[0..24], admin_question_path(gist.question) %></td>
  <td><%= link_to url_hash(gist.url), gist.url, target: "_blank" %></td>
  <td><%= gist.user.email %></td>
</tr>
