<footer class="text-center mt-5">
  <p><%= current_year %> | Автор: Гребинчик Вячеслав | <%= github_url('svawek', 'test-guru') %> </p>
  <p>Ruby version - 2.5.1 | Rails version - 5.2.2 | Database - PostgreSQL</p>
  <p>Учебный проект в онлайн-школе <a href="https://thinknetica.com" target="_blank">Thinknetica</a></p>
  <p><%= link_to 'Связаться с нами', new_messages_path %></p>
</footer>
