.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.my-bar {
  width: 1%;
  height: 20px;
  background-color: green;
}

.my-progress {
  width: 100%;
  background-color: white;
  border: 1px solid black;
}